@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(bg.jpg)no-repeat;
  background-size: cover;
  background-position: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 750px;
  perspective: 1200px;
}

.card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 600px;
  transform-style: preserve-3d;
}

.card .card-bg{
  position: absolute;
}

.card .card-bg img{
  z-index: 1;
  width: 100%;
  border-radius: 10px;
}

.card .title{
  z-index: 2;
  position: absolute;
  top: 50px;
  text-align: center;
  line-height: 40px;
  transition: all 0.3s ease-out;
}

.card .title h2{
  font-family: "Eczar", serif;
  font-size: 25px;
  text-transform: uppercase;
}

.card .title h1{
  font-family: "Berkshire Swash", cursive;
  font-size: 60px;
  letter-spacing: 2px;
}

.card .title h3{
  font-family: "Eczar", serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 10px;
}

.card .images{
  z-index: 2;
  
}

.card .images .santas{
  z-index: 3;
  position: absolute;
  width: 400px;
  transition: all 0.3s ease-out;
}

.card .images .trees{
  z-index: 2;
  width: 400px;
  transition: all 0.3s ease-out;
}



.btn {
  box-shadow: 1px 1px 0 rgba(255,255,255,0.5) inset;
  border-radius: 3px;
  border: 1px solid;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  padding: 0 20px;
  position:static;
  font-size: 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  color: black;
}

.ss{
  text-align: center;
}

.love{
  text-align: center;
}