@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  background: #111222;
}

section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  color: #fff;
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title{
  font-size: 4em;
  margin-bottom: 50px;
}

.content{
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .image{
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.content .image img{
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content .text-box{
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 1200px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
}

.content .text-boxs{
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
}

.content .text-box h3{
  font-size: 2em;
  margin-bottom: 10px;
}

.media-icons{
  margin-top: 100px;
}

.media-icons a{
  color: #fff;
  font-size: 2em;
  margin: 60px;
}

.section-title{
  font-size: 3em;
  margin-bottom: 80px;
}

.info-title{
  font-size: 1.8em;
  margin-bottom: 10px;
}

.info{
  width: 700px;
  margin-left: 50px;
}

.media-info{
  width: 400px;
  margin-left: 50px;
}

.media-info li{
  list-style: none;
  font-size: 1.4em;
}

.media-info li a{
  color: #fff;
  text-decoration: none;
}

.media-info li:not(:last-child){
  margin-bottom: 50px;
}

.media-info li:nth-child(1), .media-info li:nth-child(5){
  padding-left: 100px;
}

.media-info li:nth-child(2), .media-info li:nth-child(4){
  padding-left: 50px;
}

.sec-03{
  margin-bottom: 100px;
}

#container{
  width:350px;
  height:350px;
  margin:auto;
  perspective:880px;
  margin-top:110px;
 }
 .cover{
  width:400px;
  height:400px;
  animation:flip-animate 20s linear infinite; /*   Làm xoay các ảnh */
  transform-style:preserve-3d; /*   các thành phần bên trong class cover sẽ hiển thị dưới dạng 3D */
 }

 #container .cover div{
  width:400px;
  height:400px;
  position:absolute;
 }
 #container .cover div img{
  width:400px;
  height:400px;
 }
 #container .cover .front{
  transform:translateZ(200px);/*   định vị lại ảnh trong class front dọc theo trục z trong không gian 3D */
 }
 #container .cover .back{
  transform:rotateY(180deg) translateZ(200px);
 /*   xoay ảnh theo trục y là 180 độ và dịch chuyển đến trục Z */
 }
 #container .cover .left{
  transform:rotateY(-90deg) translateX(-200px);
   /*   xoay ảnh theo trục y là -90 độ và dịch chuyển đến trục X */
  transform-origin:left;/*   Cho phép dịch chuyển phần tử sang trái */
   
 }
 #container .cover .right{
  transform:rotateY(90deg) translateX(200px);/*   xoay ảnh theo trục Y là 90 độ và dịch chuyển đến trục X */
  transform-origin:right;/*   Cho phép dịch chuyển phần tử sang phải */
 }
 #container .cover .top{
  transform:rotateX(-90deg) translateY(-200px);/*   xoay ảnh theo trục X là -90 độ và dịch chuyển đến trục Y */
  transform-origin:top;/*   Cho phép dịch chuyển phần tử lên trên */
 }
 #container .cover .bottom{
  transform:rotateX(90deg) translateY(200px);/*   xoay ảnh theo trục X là 90 độ và dịch chuyển đến trục Y */
  transform-origin:bottom;/*   Cho phép dịch chuyển phần tử xuống dưới */
 }
 @keyframes flip-animate{
  0%{transform:rotateY(0);}
  100%{transform:rotateY(360deg);}
 }/* điều khiển các hiệu ứng của thuộc tính animation */

 .mm{
   text-align: center;
 }
